@font-face {
  font-family: Airbnb;
  src: url(AirbnbCereal-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Airbnb;
  src: url(AirbnbCereal-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Airbnb;
  src: url(AirbnbCereal-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Airbnb;
  background-color: #1e1e20;
}

.title {
  font-family: DM Sans;
}
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 54px 115px;
}

.heading {
  color: white;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  padding-top: 24px;
}

.increment {
  display: flex;
  justify-content: center;
}

#home-score {
  text-align: center;
  background: #ff8a00;
  border-radius: 5rem;
  color: white;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  width: 300px;
  height: 150px;
  font-weight: 900;
}

#guest-score {
  text-align: center;
  background: #ff8a00;
  border-radius: 5rem;
  color: white;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  width: 300px;
  height: 150px;
  font-weight: 900;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 130px;
}
.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 130px;
}

.increment > h3 {
  color: #ff8a00;
  border: 2px solid #ff8a00;
  border-radius: 5rem;
  padding: 10px 30px;
  cursor: pointer;
  margin: 30px 13px;
}

.title {
  color: white;
  text-align: center;
}

.newgame {
  color: #1e1e20;
  font-weight: 700;
  padding: 0.8rem 3rem;
  margin-top: 35px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
  background-color: #d9d9d9;
}
.newperiod {
  color: #ff8a00;
  font-weight: 700;
  padding: 0.8rem 3rem;
  border-radius: 50px;
  border: 1px solid #ff8a00;
  margin-top: 108px;
  cursor: pointer;
  font-size: 1em;
}

.period {
  color: white;
  font-family: Airbnb;
  font-weight: 700;
  margin-top: 48px;
}

.perioddisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: DM Sans;
  padding-top: 8px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
